
<html>\n<head>\n<title> \nOutput Data in an HTML file \
</title>\n</head> <body><h1>Welcome to <u>PassGen</u></h1>\
\n<h2>A <u>StandardUser</u> DiceWare Project</h2><div class="row source" style="">
    <div class="col-md-12" style="height: 0px; ">

  <div class="die dice1 dice_element" style="float: left; ">
    <div class="dot center"></div>
  </div>

  <div class="die dice2 dice_element" style="float: left; ">
    <div class="dot dtop dleft"></div>
    <div class="dot dbottom dright"></div>
  </div>

  <div class="die dice3 dice_element" style="float: left; ">
    <div class="dot dtop dleft"></div>
    <div class="dot center"></div>
    <div class="dot dbottom dright"></div>
  </div>

  <div class="die dice4 dice_element" style="float: left; ">
    <div class="dot dtop dleft"></div>
    <div class="dot dtop dright"></div>
    <div class="dot dbottom dleft"></div>
    <div class="dot dbottom dright"></div>
  </div>

  <div class="die dice5 dice_element" style="float: left; ">
    <div class="dot dtop dleft"></div>
    <div class="dot dtop dright"></div>
    <div class="dot center"></div>
    <div class="dot dbottom dleft"></div>
    <div class="dot dbottom dright"></div>
  </div>

  <div class="die dice6 dice_element" style="float: left; ">
    <div class="dot dtop dleft"></div>
    <div class="dot dtop dright"></div>
    <div class="dot center dleft"></div>
    <div class="dot center dright"></div>
    <div class="dot dbottom dleft"></div>
    <div class="dot dbottom dright"></div>
  </div>

<div class="dice_word dice_element" style="float: left; padding-left: 20px; padding-top: 25px; ">
</div>
<h3>{{result}}</h3>
</body></html>





